* {
  box-sizing: border-box;
  margin: auto;
}

.nav {
  height: 10vh;
  background-color: #205E0F;
  margin-bottom: 3vh;
  box-shadow: 0px 5px 5px grey;
  display: flex;
}

.globe--img {
  width: 2vw;
  margin-left: 43%;
}

.location--img {
  width: 1vw;
}

.title {
  font-family: 'Merriweather';
  color: white;
  font-style: italic;
  font-weight: 300;
  font-size: 2rem;
  margin-right: 43%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 5vh;
}

.card--img {
  width: 20vw;
}

.maps {
  display: flex;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

.general {
  color: grey;
  font-family: 'Merriweather';
  font-weight: 100;
  padding-right: 1vw;
  letter-spacing: 1px;
}

.google {
  color:#205E0F;
  font-weight: bold;
}

.city {
  font-family: 'Merriweather';
  letter-spacing: 1.5px;
  margin-bottom: 1vh;
}

.date {
  font-weight: bold;
  margin-bottom: 0.5vh;
}

.description {
  line-height: 1.75vh;
  width: 80%;
}